footer {
  background-color: #fff;
  position: fixed;
  bottom: 0;
  height: 60px;
  width: 100%;
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 880px) {
  footer {
    position: relative;
  }
}
